<div style="text-align: center;"> <div style="text-align: center;"> 
  <h1><b>利用規約</b></h1>

  <br><br>
  <div style="display: inline-block; text-align: left;">
    <p><b>1. はじめに</b></p>
    <p>本利用規約（以下、本規約）は、本サイトの利用条件を定めるものです。ユーザーは本サイトを利用することで、本規約に同意したものとみなされます。</p>

    <br>
    <p><b>2. 利用条件</b></p>
    <p>本サイトは、麻雀の点数計算をサポートする目的で提供されます。</p>
    <p>ユーザーは、適切な方法で本サイトを利用するものとします。</p>

    <br>
    <p><b>3. 禁止事項</b></p>
    <p>ユーザーは、以下の行為を行わないものとします。</p>
    <p>他ユーザーの情報を不正に取得する行為</p>
    <p>本サイトの運営を妨げる行為</p>
    <p>不正アクセスやデータ改ざん行為</p>

    <br>
    <p><b>4. 免責事項</b></p>
    <p>本サイトの計算結果については、正確性を保証するものではありません。</p>
    <p>本サイトの利用によって生じた損害について、運営者は一切の責任を負いません。</p>

    <br>
    <p><b>5. 利用規約の変更</b></p>
    <p>本規約は、必要に応じて変更される場合があります。変更後の規約は、本サイト上で通知し、掲載された時点で効力を発揮します。</p>

    <br>
    <p><b>6. 準拠法・裁判管轄</b></p>
    <p>本規約は、日本法に準拠し、本サイトに関する紛争は日本の裁判所を管轄とします。</p>
  </div>
</div>